.master-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.noshrink {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.photo-container {
  justify-content: space-between;
}

.hugefont {
    font-size:5em;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.photography-image {
  align-self: center;
  margin: 5em;
}

.link-override {
    color: #2196f3;
}

.link-override:hover {
    text-decoration: underline;
}

.dark-mode {
  background-color: #212124;
}

.margin12 {
  margin: 12px;
}