.navbar-left {
  top: 0;
  position: sticky;
  width: 10em;
  font-size: 24px;
}

.master-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.noshrink {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.fill-parent {
  flex-basis: 100%;
}


.hugefont {
    font-size:5em;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}


.photo-container {
  justify-content: space-between;
  align-items: center;
}

.photography-image {
  margin-top: 3em;
  margin-bottom: 2em;
}

/*
.photography-image {
  margin: 5em;
  flex-grow: 1;
  flex-shrink: 1;
  /* max-width: 900px;
  max-height: 800px;
  height: auto;
}
*/

.link-override {
    color: #2196f3;
}

.link-override:hover {
    text-decoration: underline;
}

.dark-mode {
  background-color: #212124;
}

.margin12 {
  margin: 12px;
}

.margin0 {
  margin: 0px;
}